# Just some stuff
cmd/pagst/static/bower_components
cmd/pagst/static/pages
cmd/pagst/static/index.html
cmd/pagst/cert
cmd/pagst/access_log
cmd/pagst/access.log
cmd/pagst/access*.log
cmd/pagst/static/report.html

cmd/pagst/capturepanics
cmd/pagst/dso-cli
cmd/pagst/shardorchestrator
cmd/pagst/pagst
cmd/pagst/templates/plugins/*.html
cmd/pagst/soundboard
cmd/pagst/shutdown_logs
cmd/pagst/safebrowsing_db
cmd/pagst/static/video/*

stdcommands/exchange/currency_codes.go

# We don't want filthy pre-configured config files here ! >:O
# The graw agent file
*.agent
*.exe
dailyredditquote
.idea
.vscode
