@namespace svg url(http://www.w3.org/2000/svg);
/* colours #1a1a1a, #1f1f1f, #2f2f2f #a1a1a1, ##abb4be, #c1c1c1, #89aa00, #aa8900, #ec7261 */

div,a,code,table, tr,td,input,textarea  {background-color: transparent !important;}
div[class*="pagesTree"],div[class*="menu"]{background-color:#1f1f1f!important}
[class*="pageTitle"],li, p>span,  input,div, textarea {color:#c1c1c1 !important}
img {box-shadow:none !important; background:none !important}

/*NB red-level problem*/
::before,::after  {background:none !important; background-color:#1a1a1a !important; border:none !important} /*this could cause colouring errors */
div[class*=reset]::before,div[class*=reset]::after{background:none !important; background-color:transparent !important; border:none !important}

div[class*="tooltipDelayed"] {color:#c1c1c1 !important; background-color:#1a1a1a !important}
button[class*="rounded"] {background-color:#1f1f1f !important}
code[class*="code"] {color:#a1a1a1 !important}
[class*="buttonPrimary"]{color:#89aa00 !important}
[class*="buttonPrimary"]:hover{color:#aa8900 !important}
div[role="button"],pre,span[class*="token"],div[class*="whole"],div[class*="drawer"] {background-color:#1f1f1f !important}
div[class*="buttons"] {box-shadow:none !important;}
div[class*="buttonWrapper"] {box-shadow:#89aa00 0px 0px 5px 5px !important;}
div[class*="buttonWrapper"]:hover {box-shadow:#aa8900 0px 0px 5px 5px !important;}

div[class*="sheetBackdrop"]{animation:none !important;}

/* unable to generalize blockHints
[class*="blockHint"]{border-color:#ec7261 !important}
[class*="hintIcon"]>svg[class*="icon"]{color:#ec7261 !important}*/

/*div Sheetopened*/
div[class*="sheetOpened"] {background:rgb(26,26,0,0.8) !important}
div[class*="sheetOpened"]>div[class*="withScrollbar"]{background:rgb(26,26,0,0.8) !important}
div[class*="sheetOpened"]>div>div>div>div>input {background:#c1c1c1 !important; color:#1a1a1a !important}
div[class*="sheetOpened"]>div>div>div>div>input::placeholder {background:#c1c1c1 !important; color:#a1a1a1 !important}


div[class*="contentNavigation"],div[class*="header"],div[class*="headerContentLeft"] {border:none !important}
div[class*="header"],div[class*="navigation"],div[class*="orgsNavi"],div[class*="-menu-"] {background-color:#1a1a1a !important}
div[class*="ownerHeaderContent"]>div>a>span {color: #a1a1a1 !important}

div[class*="tabsHeaderContent"]>div[class*="active"]{background-color: #2f2f2f !important}
div[class*="wrapperTabsItem"]:hover{color:#a1a1a1 !important}

div[class*="sheetHeader"],div[class*="popover"] {background-color:rgb(26,26,0,0.8) !important}
div[class*="sheetHeaderInner"]>a {background-color:#abb4be !important; }
div[class*="spaceCard"]:hover, div[class*="commentsButton"] {border-color: #aa8900 !important}
div[class*="spaceCardActive"], div[class*="orgsOwnerActive"] {border-color: #89aa00 !important}
div[class*="tooltipped"],div[class*="hoverSelection"],div[class*="linkMenu"] {background-color: #1f1f1f !important}
div[class*="whiteOutline"] {box-shadow:#1a1a1a 0px 0px 0px 1px !important}

span[class*="menuItemActive"] {color:#aa8900 !important}
[class*="menuItemContent"]>span[class*="textContentFamily"]:hover {color:#aa8900 !important}
span[class*="highlight"]{color:#aa8900; background:#1a1a1a !important; transition: none !important}
a[class*="button"]>span[class*="textContentFamily"]{color:#89aa00 !important}
a[class*="button"]>span[class*="textContentFamily"]{color:#89aa00 !important}
a[class*="button"]>span[class*="textContentFamily"]:hover {color:#aa8900 !important}

/*<a> section*/
a[class^="link"],a[class*="navButtonOpen"],a[class*="pageTocItemActive"],a[class*="pageTocItemActive"]>span {text-decoration: none !important; color: #89aa00 !important }
a[class*="reset"]>span, a[class*="button"] {color: #a1a1a1 ; text-decoration:none !important}
a:visited[class*="navButton"] {border-color: #89aa00 !important}
a:visited[class*="ButtonOpen"]>span {color: #89aa00 !important}
a:hover,a:hover[class*="reset"]>span{color: #aa8900 !important; }
a:hover[class*="card"] {border-color: #aa8900 !important}

/* horizontal and vertical lines and tables*/
[class*="pageHeader-"],[class*="sheetHeader-"],[class*="tableRow"]{border-bottom:1px solid #a1a1a1 !important}
[class*="tabsHeaderContent"]>div{border-color:#a1a1a1 #a1a1a1 #a1a1a1 #a1a1a1 !important}
[class*="tabsHeaderContent"]>div:nth-child(2){border-color:#a1a1a1 #a1a1a1 #a1a1a1 transparent !important}
[class*="tabsHeaderContent"]>div:last-child{border-color:#a1a1a1 #a1a1a1 #a1a1a1 transparent !important}

[class*="card"],[class*="tabItemContent"]{border-color:#a1a1a1 !important}
[class*="embedLinkText"]{border:0px solid transparent !important}
[class*="-active"]:first-child{border-left-color: #a1a1a1 !important}
[class*="tableRow"]:first-child{border-bottom:2px solid #a1a1a1 !important}
[class*=orgsNavigationTabs],[class*="footerColumn"]:first-child{border-right:1px solid #a1a1a1 !important}
[class*="pageFooterColumns"]{border-top:1px solid #a1a1a1 !important}
[class*="Horizontal"]>[class*="footer"]{border-top:1px solid #a1a1a1 !important}
[class*=body]{box-shadow: rgba(161,161,161,0.05) -2px 0px 15px 0px !important}

[class*="Horizontal"]{background-color:#1c1c1c !important; margin:0px !important; padding-left:24px;padding-right:24px }


div[class*="orangeBorder"]{border-color:#a1a1a1 #a1a1a1 #a1a1a1 #ec7261 !important}

html{scrollbar-width: auto!important;scrollbar-color:#aa8900 #1a1a1a!important;}
[class*=withScrollbar]:hover{scrollbar-width: thin!important;scrollbar-color:#aa8900 #1a1a1a!important}
[class*=withScrollbar]{scrollbar-width: thin!important;scrollbar-color:#89aa00 #1a1a1a!important}
::-webkit-scrollbar {width: 7px!important; height: 5px!important;background:#1a1a1a!important}
::-webkit-scrollbar-thumb {background: #89aa00 !important; height:123px!important}
::-webkit-scrollbar-thumb:hover { background:#aa8900 !important;}