{{define "cp_youtube"}}
{{template "cp_head" .}}

<style>
    .feed-item-disabled {
        background-color: #f003;
    }
</style>

<header class="page-header">
    <h2>YouTube upload feeds</h2>
</header>
{{template "cp_alerts" .}}
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">New feed</h2>
            </header>
            <div class="card-body">
                <form class="" method="post" action="/manage/{{.ActiveGuild.ID}}/youtube">
                    <p><b>Provide either channel ID OR username.</b> Only one of them, not both.<br>
                        When you go to the channel page, if the address bar has for example
                        <code>youtube.com/user/idlevideos</code> then the username is idlevideos<br>
                        If it's <code>youtube.com/channel/UCt-ERbX-2yA6cAqfdKOlUwQ</code> then the id is
                        <code>UCt-ERbX-2yA6cAqfdKOlUwQ</code><br/>ProTip™: easiest way to get the channel ID is while video is open,<br/>clicking on username will
                        bring you back to channel's home page, URL has channel ID in it.</p>
                        <p><b>If Server Channel is set to "None" the added or already active YouTube feed will be disabled.</b></p>
                    <div class="form-group">
                        <label for="yt-channel-id">YouTube Channel ID</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-prepend"><span
                                    class="input-group-text">youtube.com/channel/</span></span>
                            <input type="text" class="form-control" id="yt-channel-id" name="YoutubeChannelID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="yt-channel-user">YouTube Username</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-prepend"><span
                                    class="input-group-text">youtube.com/user/</span></span>
                            <input type="text" class="form-control" id="yt-channel-user" name="YoutubeChannelUser">
                        </div>
                    </div>
                    <div class="form-row mb-0">
                        <div class="form-group col mb-0">
                            <label for="channel">Discord Channel</label>
                            <select id="channel" class="form-control" name="DiscordChannel" data-requireperms-send>
                                {{textChannelOptions .ActiveGuild.Channels nil true "None"}}
                            </select>
                        </div>
                        <div class="form-group col mb-0">
                            <label for="mention-role">Mention role</label>
                            <select id="mention-role" name="MentionRole" class="form-control">
                                {{roleOptions .ActiveGuild.Roles nil .MentionRole "None selected"}}
                            </select>
                        </div>
                    </div>
                    {{checkbox "MentionEveryone" "new-mention-everyone" `Mention everyone` false}}
                    <button type="submit" class="btn btn-success btn-block">Add</button>
                </form>
            </div>
        </section>
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Current subscribed channels</h2>
            </header>
            <div class="card-body">
                {{$dot := .}}
                {{range .Subs}}
                <form id="sub-item-{{.ID}}" data-async-form method="post"
                    action="/manage/{{$dot.ActiveGuild.ID}}/youtube/{{.ID}}/update"><input type="text"
                        class="hidden form-control" name="id" value="{{.ID}}"></form>{{end}}

                <table class="table table-responsive-md table-sm mb-0">
                    <thead>
                        <tr>
                            <th width="15%">Youtube</th>
                            <th width=25%>Discord channel</th>
                            <th width=25%>Mention role</th>
                            <th>Mention everyone</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Subs}}
                        <tr class="{{if not .Enabled}}feed-item-disabled{{end}}">
                            <td>
                                <p class="form-control-static"><a class="feedlink" href="https://youtube.com/channel/{{.YoutubeChannelID}}" target="_blank"><b>{{.YoutubeChannelName}}</b></a><br/>
                                   <code>{{.YoutubeChannelID}}</code></p>
                            </td>
                            <td>
                                <select form="sub-item-{{.ID}}" id="channel" class="form-control" name="DiscordChannel"
                                    data-requireperms-embed>
                                    {{textChannelOptions $dot.ActiveGuild.Channels .ChannelID true "None"}}
                                </select>
                            </td>
                            <td>
                                <select form="sub-item-{{.ID}}" id="mention-role" class="form-control" name="MentionRole">
                                        {{roleOptions $dot.ActiveGuild.Roles nil .MentionRole "None selected"}}
                                </select>
                            </td>
                            <td>
                                {{checkbox "MentionEveryone" (joinStr "" "mention-everyone-" .ID) `Mention everyone` .MentionEveryone (joinStr "" `form="sub-item-` .ID `"`)}}
                            </td>
                            <td>
                                {{checkbox "Enabled" (joinStr "" "feed-enabled-" .ID) `Enabled` .Enabled (joinStr "" `form="sub-item-` .ID `"`)}}
                            </td>
                            <td>
                                <button form="sub-item-{{.ID}}" type="submit" class="btn btn-success"
                                    formaction="/manage/{{$dot.ActiveGuild.ID}}/youtube/{{.ID}}/update">Save</button>
                                <button form="sub-item-{{.ID}}" type="submit" class="btn btn-danger"
                                    formaction="/manage/{{$dot.ActiveGuild.ID}}/youtube/{{.ID}}/delete">Delete</button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(function () {
        var idInput = $("#yt-channel-id");
        var userInput = $("#yt-channel-user");

        userInput.on("input", function (arg) {
            if (userInput.val().length > 0) {
                idInput.attr("disabled", true);
            } else {
                idInput.attr("disabled", false);
            }
        })


        idInput.on("input", function (arg) {
            if (idInput.val().length > 0) {
                userInput.attr("disabled", true);
            } else {
                userInput.attr("disabled", false);
            }
        })
    })
</script>
{{template "cp_footer" .}}
{{end}}