{{define "index"}}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="cache-control" content="max-age=2592000000">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=6">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=6">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=6">
<link rel="manifest" href="/static/icons/site.webmanifest?v=6">
<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=6" color="#5bbad5">
<link rel="shortcut icon" href="/static/icons/favicon.ico?v=6">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=6">
<meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="PAGSTDB" />
  <meta property="og:description" content="People Against Generally Shitty Things Discord Bot" />
  <!-- For Social Media -->
  <meta property="description" content="People Against Generally Shitty Things Discord Bot" />
  <!-- For search engines -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/landing-page-min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Poppins:500,700" rel="stylesheet">
  <title>PAGSTDB</title>
<style>
::-webkit-scrollbar {width: 7px !important; height: 5px !important}
::-webkit-scrollbar-thumb {background: #a1a1a1 !important;}
::-webkit-scrollbar-thumb:hover { background:#aa8900 !important;}
</style>
</head>

<body style="line-height: 1.6">
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
    <a class="navbar-brand" href="#">
      <img src="/static/img/logo_y_small.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse poppins" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{ if not (ge .JoinedServers 83) }}
        <li class="nav-item active">
		      <a class="nav-link" href='https://discordapp.com/oauth2/authorize?client_id={{.ClientID}}&scope=bot&permissions=2146827775&response_type=code&redirect_uri={{urlquery (joinStr ""  "https://" .Host "/manage")}}'>Add to Server</a>
	      </li>
        {{ end }}
        <li class="nav-item active">
          <a class="nav-link" href="https://lbry.tv/@caubert:c47/pagst-yagpdb-install-on-archlinux:4">Bot Install Tutorial</a>
        </li>
        <li class="nav-item active">
      		<a class="nav-link" href="https://caubert.xyz">Foxes Collection</a>
      	</li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2">
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/manage" style="border-color:#a1a1a1!important">Control Panel</a>
      </form>
      {{if .User}}
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout" style="border-color:#a1a1a1!important">Logout</a>
      </form>
      {{end}}
    </div>
  </nav>
  <!-- Intro -->
  <div id="tscene" class="intro centered">
    <header class="centered">
      <div id="introo">
        <div class="container centered">
          <div class="row justify-content-md-center">
            <div class="col col-md-10">
              <h1 class="brand-heading bold intro_head">
                <br/>PAGSTDB</h1>
                <div style="background-color: rgba(26,26,26,0.7);border:1px solid #a1a1a1;border-radius:5px;margin-top:25px">
                  <p style="margin: 7px;line-height:1.25em;font-size: 2.2em!important" class="intro_headline">People Against Generally Shitty Things Discord Bot</p>
                  <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 5px;color:#c1c1c1!important">Internalization {{ printf "%.2f%%" (mult (fdiv .JoinedServers 83) 100) }} by {{.JoinedServers}} joined intransigent servers</span>
                  <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 0px;color:#c1c1c1!important">>> Commands ran today: {{.Commands}}</span>
		              <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 0px;color:#c1c1c1!important">>> CCs executed today: {{humanizeThousands .CCs}}</span>
                  <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 5px;color:#c1c1c1!important">>> AMv2 launches today: {{humanizeThousands .AMV2s}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!-- Parallax Moving Background -->
  <div id="m_background" data-depth="0.2"></div>
  </div>
  <!-- About -->
  <div class="about">
    <section class="container content-section text-center">
      <a id="about"></a>
      <div class="row justify-content-md-center">
        <img class="img-responsive about aboutlogo" src="/static/img/logo_y.png" alt="logo of pagstdb" style="height:10%"/>
        <div class="col col-lg-8 abouttext" style="padding-bottom: 3%; text-align: left">
          <p class="about poppins semibold" style="line-height: 1.2;font-size: 2rem;background-color: #1a1a1a; margin-top:51px">About PAGSTDB<br/><span style="text-align:left;font-size: 13px;display: block;"><i>Cessation of Existence</i></span></p>
          <p class="about"><b>PAGSTDB</b> is a fork of YAGPDB, so following text and all further naming refers to master-bot and its dev. Jonas747#0001.</p>
          <p class="about"> YAGPDB is a multi-purpose Discord bot that I've worked on for quite some time now. What does it do? Well, it does
            a bunch of stuff right now, the best way to figure out what it does is to try it out by adding it onto a testing
            server and see what it provides for yourself.</p>
          <p class="about">
            <b>Who is Jonas747?</b> Jonas747 is an online username and (unsurprisingly) his real name is also Jonas, although not 747.
            No airliners were involved or harmed. YAGPDB is a project that Jonas747 has been developing in spare time for roughly 3 years now, it
            started out because MEE6 (which was currently in use in Jonas' server) was lacking a lot of stuff,
            so Jonas747 decided to make his own, far superior bot, and here it is.</p>
            <p class="about">
          <b><a class="pagst" name="pagstAudio" href="#pagstAudio" id="audiolink">Who is caubert?</a></b> A user who falls under Dan Simmons' descriptor - The Void Which Binds.</p><audio id="pagstAudio" src="../static/audio/pagst.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript">
    document.getElementById('audiolink').addEventListener('click', function(e){
      var audio = document.getElementById("pagstAudio");
      if (audio.paused) audio.play();
      else audio.pause();
  });
</script>
  <!-- Features -->
  <div class="blank">

    <!-- Footer -->
    <section id="footer" class="container container-section blank_no_bg" style="background-color:#1a1a1a!important">
      <div class="row justify-content-md-center footer">
        <div class="col col-lg-12">
          <p>
            <b>YAGPDB</b> created by
            <a class="pagst" href="https://github.com/jonas747" rel="noopener" target="_blank">Jonas747</a> |
            <b>PAGSTDB</b> fork <a class="pagst" href="https://github.com/mrbentarikau/" rel="noopener" target="_blank">caubert</a> |
            <b>PAGST</b> is referenced from <a class="pagst" href="https://www.paradigmadventure.com/" rel="noopener" target="_blank">PARADIGM</a>
          </p>
        </div>
      </div>
    </section>
    <!-- jQuery, Popper.Js, Bootstrap and Parallax -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <!-- Javascript for moving background (parallax) -->
    <script>
      var scene = document.getElementById('tscene');
      var parallaxInstance = new Parallax(tscene, {
        relativeInput: true,
        hoverOnly: true,
        pointerEvents: true
      });
    </script>
    {{template "googleAnalytics" .}}
</body>
</html>


{{end}} {{define "googleAnalytics"}}{{if and (not .Testing) .GAID}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{.GAID}}', 'auto');
  ga('send', 'pageview');
</script>{{end}}{{end}}
