{{define "error404"}}
<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=6">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=6">
		<link rel="shortcut icon" href="/static/icons/favicon.ico?v=6">
	</head>
	<body style="background: #1a1a1a url('static/img/deathvalleysky.jpg') center fixed no-repeat; color:#a1a1a1">
		<p style="text-align:center;font-size:250%;margin-top:33px;font-family:'Lato',sans-serif">No such page - just 404, watch some sailing stones...</p>
	</body>
</html>
{{end}}